/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;

body{
  background-color: white;
  background-size: cover;
}
.page-wrap{
  min-height: calc(100vh - 128px - 149px);
}
.mainS{
background-color: black;
}
.bgCol{
  background-image: url("https://klv-oboi.kz/img/gallery/108/thumbs/thumb_l_psh_00003376.jpg");
  background-size: cover;
}
@media screen and (max-width: 800px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }
  table td::before {
    content: attr(data-label);
  }
}
